<!DOCTYPE html>
<html>
  <head>
    <title>Task List</title>
  </head>
  <body>
    <h1>Task List</h1>
    <!-- <form action="{% url 'search-task-list' %}">
      <label for="search">Search:</label>
      <input type="text" name="search" id="search" />
      <button type="submit">Search</button>
    </form> -->
    <form method="get" action="{% url 'task-list' %}">
      <label for="search">Search:</label>
      <input
        type="text"
        name="search"
        id="search"
        placeholder="Search by title/description"
      />
      <label for="status">Filter by status:</label>
      <select name="status" id="status">
        <option value="">All</option>
        <option value="TODO">To Do</option>
        <option value="IN_PROGRESS">In Progress</option>
        <option value="DONE">Done</option>
      </select>
      <label for="due_date">Due Date:</label>
      <input type="date" name="due_date" id="due_date" />
      <label for="priority">Priority:</label>
      <select name="priority" id="priority">
        <option value="">All</option>
        <option value="1">HIGH</option>
        <option value="2">MEDIUM</option>
        <option value="3">LOW</option>
      </select>
      <button type="submit">Apply</button>
    </form>
    {% if tasks %}
    <table>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Priority</th>
        <th>Status</th>
      </tr>
      {% for task in tasks %}
      <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.due_date }}</td>
        <td>{{ task.get_priority_display }}</td>
        <td>{{ task.get_status_display }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No tasks found for these filters/search.</p>
    search: {{ search }}, status: {{ status }}, priority: {{ priority }},
    due_date: {{ due_date }} {% endif %}
  </body>
</html>
